cbank_schema_simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://contentrepurpose.com/cbank"
           xmlns:cb="http://contentrepurpose.com/cbank"
           elementFormDefault="qualified">


    <xs:element name="CBank">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContentBlock" type="cb:ContentBlockType" 
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ContentBlockType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Author" type="xs:string"/>
            <xs:element name="CreatedDate" type="xs:date"/>
            <xs:element name="Tags" type="cb:TagsType" minOccurs="0"/>
            <xs:element name="Content" type="cb:ContentType"/>
        </xs:sequence>
        
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="type" type="cb:ContentTypeEnum" use="required"/>
    </xs:complexType>

    <xs:complexType name="TagsType">
        <xs:sequence>
            <xs:element name="Tag" type="xs:string" 
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContentType">
        <xs:choice>
            <xs:element name="Text" type="xs:string"/>
            
            <xs:element name="Image">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="URL" type="xs:anyURI"/>
                        <xs:element name="AltText" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Data" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="ContentTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="image"/>
            <xs:enumeration value="data"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
