cbank_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://contentrepurpose.com/cbank"
           xmlns:cb="http://contentrepurpose.com/cbank"
           elementFormDefault="qualified">

    <!-- Root Element for CBank -->
    <xs:element name="CBank">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Metadata" type="cb:CBankMetadataType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ContentBlocks" type="cb:ContentBlocksType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Taxonomy" type="cb:TaxonomyType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Templates" type="cb:TemplatesType" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="createdDate" type="xs:dateTime" use="required"/>
            <xs:attribute name="lastModified" type="xs:dateTime" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- CBank Metadata Type -->
    <xs:complexType name="CBankMetadataType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="Owner" type="xs:string" minOccurs="1"/>
            <xs:element name="Organization" type="xs:string" minOccurs="0"/>
            <xs:element name="TotalBlocks" type="xs:int" minOccurs="0"/>
            <xs:element name="ActiveBlocks" type="xs:int" minOccurs="0"/>
            <xs:element name="StorageLocation" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Content Blocks Container -->
    <xs:complexType name="ContentBlocksType">
        <xs:sequence>
            <xs:element name="ContentBlock" type="cb:ContentBlockType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Content Block Type -->
    <xs:complexType name="ContentBlockType">
        <xs:sequence>
            <xs:element name="Metadata" type="cb:BlockMetadataType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Content" type="cb:ContentType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Tags" type="cb:TagsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Relations" type="cb:RelationsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="UsageHistory" type="cb:UsageHistoryType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Versions" type="cb:VersionsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AccessControl" type="cb:AccessControlType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SEO" type="cb:SEOType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="status" type="cb:StatusType" default="active"/>
        <xs:attribute name="priority" type="xs:int" default="0"/>
        <xs:attribute name="featured" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Block Metadata Type -->
    <xs:complexType name="BlockMetadataType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" minOccurs="1"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="Summary" type="xs:string" minOccurs="0"/>
            <xs:element name="Author" type="xs:string" minOccurs="1"/>
            <xs:element name="Contributors" type="cb:ContributorsType" minOccurs="0"/>
            <xs:element name="CreatedDate" type="xs:dateTime" minOccurs="1"/>
            <xs:element name="LastModified" type="xs:dateTime" minOccurs="1"/>
            <xs:element name="PublishedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ContentType" type="cb:ContentTypeEnum" minOccurs="1"/>
            <xs:element name="Language" type="xs:language" default="en"/>
            <xs:element name="Region" type="xs:string" minOccurs="0"/>
            <xs:element name="Keywords" type="xs:string" minOccurs="0"/>
            <xs:element name="Source" type="xs:string" minOccurs="0"/>
            <xs:element name="License" type="xs:string" minOccurs="0"/>
            <xs:element name="Copyright" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Contributors Type -->
    <xs:complexType name="ContributorsType">
        <xs:sequence>
            <xs:element name="Contributor" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="role" type="xs:string"/>
                            <xs:attribute name="date" type="xs:dateTime"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Content Type -->
    <xs:complexType name="ContentType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Text" type="cb:TextContentType"/>
            <xs:element name="Image" type="cb:MediaContentType"/>
            <xs:element name="Video" type="cb:MediaContentType"/>
            <xs:element name="Audio" type="cb:MediaContentType"/>
            <xs:element name="Code" type="cb:CodeContentType"/>
            <xs:element name="Data" type="cb:DataContentType"/>
            <xs:element name="HTML" type="xs:string"/>
            <xs:element name="Markdown" type="xs:string"/>
            <xs:element name="JSON" type="xs:string"/>
            <xs:element name="XML" type="xs:string"/>
            <xs:element name="Embed" type="cb:EmbedContentType"/>
        </xs:choice>
        <xs:attribute name="format" type="xs:string"/>
        <xs:attribute name="encoding" type="xs:string" default="UTF-8"/>
        <xs:attribute name="checksum" type="xs:string"/>
    </xs:complexType>

    <!-- Text Content Type -->
    <xs:complexType name="TextContentType" mixed="true">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="format" type="xs:string" default="plain"/>
                <xs:attribute name="wordCount" type="xs:int"/>
                <xs:attribute name="characterCount" type="xs:int"/>
                <xs:attribute name="readingTime" type="xs:int"/>
                <xs:attribute name="readingLevel" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Media Content Type -->
    <xs:complexType name="MediaContentType">
        <xs:sequence>
            <xs:element name="URL" type="xs:anyURI" minOccurs="1"/>
            <xs:element name="AltText" type="xs:string" minOccurs="0"/>
            <xs:element name="Caption" type="xs:string" minOccurs="0"/>
            <xs:element name="Credit" type="xs:string" minOccurs="0"/>
            <xs:element name="Thumbnail" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="Variants" type="cb:MediaVariantsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="mimeType" type="xs:string"/>
        <xs:attribute name="size" type="xs:long"/>
        <xs:attribute name="width" type="xs:int"/>
        <xs:attribute name="height" type="xs:int"/>
        <xs:attribute name="duration" type="xs:duration"/>
        <xs:attribute name="aspectRatio" type="xs:string"/>
        <xs:attribute name="resolution" type="xs:string"/>
    </xs:complexType>

    <!-- Media Variants Type -->
    <xs:complexType name="MediaVariantsType">
        <xs:sequence>
            <xs:element name="Variant" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="URL" type="xs:anyURI"/>
                    </xs:sequence>
                    <xs:attribute name="size" type="xs:string" use="required"/>
                    <xs:attribute name="width" type="xs:int"/>
                    <xs:attribute name="height" type="xs:int"/>
                    <xs:attribute name="quality" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Code Content Type -->
    <xs:complexType name="CodeContentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="language" type="xs:string" use="required"/>
                <xs:attribute name="syntax" type="xs:string"/>
                <xs:attribute name="version" type="xs:string"/>
                <xs:attribute name="lineCount" type="xs:int"/>
                <xs:attribute name="highlightLines" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Data Content Type -->
    <xs:complexType name="DataContentType">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="format" type="xs:string" use="required"/>
        <xs:attribute name="schema" type="xs:string"/>
        <xs:attribute name="compressed" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Embed Content Type -->
    <xs:complexType name="EmbedContentType">
        <xs:sequence>
            <xs:element name="EmbedURL" type="xs:anyURI" minOccurs="1"/>
            <xs:element name="EmbedCode" type="xs:string" minOccurs="0"/>
            <xs:element name="PreviewImage" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="provider" type="xs:string"/>
        <xs:attribute name="embedType" type="xs:string"/>
    </xs:complexType>

    <!-- Tags Type -->
    <xs:complexType name="TagsType">
        <xs:sequence>
            <xs:element name="Tag" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="category" type="xs:string"/>
                            <xs:attribute name="weight" type="xs:decimal" default="1.0"/>
                            <xs:attribute name="confidence" type="xs:decimal"/>
                            <xs:attribute name="source" type="cb:TagSourceType"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Relations Type -->
    <xs:complexType name="RelationsType">
        <xs:sequence>
            <xs:element name="RelatedBlock" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="blockId" type="xs:IDREF" use="required"/>
                    <xs:attribute name="relationType" type="cb:RelationTypeEnum" use="required"/>
                    <xs:attribute name="strength" type="xs:decimal" default="1.0"/>
                    <xs:attribute name="bidirectional" type="xs:boolean" default="true"/>
                    <xs:attribute name="createdDate" type="xs:dateTime"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Usage History Type -->
    <xs:complexType name="UsageHistoryType">
        <xs:sequence>
            <xs:element name="Usage" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Context" type="xs:string" minOccurs="0"/>
                        <xs:element name="BlendReference" type="xs:string" minOccurs="0"/>
                        <xs:element name="Platform" type="xs:string" minOccurs="0"/>
                        <xs:element name="Audience" type="xs:string" minOccurs="0"/>
                        <xs:element name="Performance" type="cb:PerformanceType" minOccurs="0"/>
                        <xs:element name="Feedback" type="cb:FeedbackType" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="usageDate" type="xs:dateTime" use="required"/>
                    <xs:attribute name="usageType" type="cb:UsageTypeEnum"/>
                    <xs:attribute name="usedBy" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="totalUsages" type="xs:int" default="0"/>
        <xs:attribute name="lastUsed" type="xs:dateTime"/>
    </xs:complexType>

    <!-- Performance Type -->
    <xs:complexType name="PerformanceType">
        <xs:sequence>
            <xs:element name="Metric" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Value" type="xs:decimal"/>
                        <xs:element name="Benchmark" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="Notes" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="unit" type="xs:string"/>
                    <xs:attribute name="timestamp" type="xs:dateTime"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="overallScore" type="xs:decimal"/>
    </xs:complexType>

    <!-- Feedback Type -->
    <xs:complexType name="FeedbackType">
        <xs:sequence>
            <xs:element name="Comment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="author" type="xs:string"/>
                            <xs:attribute name="date" type="xs:dateTime"/>
                            <xs:attribute name="rating" type="xs:decimal"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="averageRating" type="xs:decimal"/>
        <xs:attribute name="totalComments" type="xs:int"/>
    </xs:complexType>

    <!-- Versions Type -->
    <xs:complexType name="VersionsType">
        <xs:sequence>
            <xs:element name="Version" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Content" type="cb:ContentType"/>
                        <xs:element name="ChangeLog" type="xs:string" minOccurs="0"/>
                        <xs:element name="ChangeSummary" type="xs:string" minOccurs="0"/>
                        <xs:element name="DiffURL" type="xs:anyURI" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="versionNumber" type="xs:string" use="required"/>
                    <xs:attribute name="createdDate" type="xs:dateTime" use="required"/>
                    <xs:attribute name="author" type="xs:string" use="required"/>
                    <xs:attribute name="status" type="cb:VersionStatusType"/>
                    <xs:attribute name="major" type="xs:boolean" default="false"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="currentVersion" type="xs:string" use="required"/>
        <xs:attribute name="totalVersions" type="xs:int"/>
    </xs:complexType>

    <!-- Access Control Type -->
    <xs:complexType name="AccessControlType">
        <xs:sequence>
            <xs:element name="Owner" type="xs:string" minOccurs="1"/>
            <xs:element name="Permissions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Permission" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="user" type="xs:string"/>
                                <xs:attribute name="group" type="xs:string"/>
                                <xs:attribute name="role" type="xs:string"/>
                                <xs:attribute name="level" type="cb:PermissionLevelType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="visibility" type="cb:VisibilityType" default="private"/>
        <xs:attribute name="shareableLink" type="xs:anyURI"/>
    </xs:complexType>

    <!-- SEO Type -->
    <xs:complexType name="SEOType">
        <xs:sequence>
            <xs:element name="MetaTitle" type="xs:string" minOccurs="0"/>
            <xs:element name="MetaDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="FocusKeyword" type="xs:string" minOccurs="0"/>
            <xs:element name="SecondaryKeywords" type="xs:string" minOccurs="0"/>
            <xs:element name="CanonicalURL" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="OGImage" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="Schema" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="noIndex" type="xs:boolean" default="false"/>
        <xs:attribute name="noFollow" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Taxonomy Type -->
    <xs:complexType name="TaxonomyType">
        <xs:sequence>
            <xs:element name="Categories" type="cb:CategoriesType" minOccurs="0"/>
            <xs:element name="TagCategories" type="cb:TagCategoriesType" minOccurs="0"/>
            <xs:element name="ContentTypes" type="cb:ContentTypesDefinitionType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Categories Type -->
    <xs:complexType name="CategoriesType">
        <xs:sequence>
            <xs:element name="Category" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string" minOccurs="0"/>
                        <xs:element name="SubCategory" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Description" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:ID" use="required"/>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="parentId" type="xs:IDREF"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="icon" type="xs:string"/>
                    <xs:attribute name="color" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tag Categories Type -->
    <xs:complexType name="TagCategoriesType">
        <xs:sequence>
            <xs:element name="TagCategory" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string" minOccurs="0"/>
                        <xs:element name="AllowedValues" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="required" type="xs:boolean" default="false"/>
                    <xs:attribute name="multiValue" type="xs:boolean" default="true"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Content Types Definition Type -->
    <xs:complexType name="ContentTypesDefinitionType">
        <xs:sequence>
            <xs:element name="TypeDefinition" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string" minOccurs="0"/>
                        <xs:element name="Template" type="xs:string" minOccurs="0"/>
                        <xs:element name="RequiredFields" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Field" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="icon" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Templates Type -->
    <xs:complexType name="TemplatesType">
        <xs:sequence>
            <xs:element name="Template" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Description" type="xs:string" minOccurs="0"/>
                        <xs:element name="ContentType" type="cb:ContentTypeEnum"/>
                        <xs:element name="DefaultContent" type="cb:ContentType" minOccurs="0"/>
                        <xs:element name="DefaultTags" type="cb:TagsType" minOccurs="0"/>
                        <xs:element name="Instructions" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute name="category" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Enumerations -->
    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="active"/>
            <xs:enumeration value="archived"/>
            <xs:enumeration value="draft"/>
            <xs:enumeration value="deprecated"/>
            <xs:enumeration value="review"/>
            <xs:enumeration value="published"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ContentTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="image"/>
            <xs:enumeration value="video"/>
            <xs:enumeration value="audio"/>
            <xs:enumeration value="code"/>
            <xs:enumeration value="data"/>
            <xs:enumeration value="document"/>
            <xs:enumeration value="presentation"/>
            <xs:enumeration value="spreadsheet"/>
            <xs:enumeration value="mixed"/>
            <xs:enumeration value="embed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RelationTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="similar"/>
            <xs:enumeration value="related"/>
            <xs:enumeration value="prerequisite"/>
            <xs:enumeration value="follows"/>
            <xs:enumeration value="precedes"/>
            <xs:enumeration value="alternative"/>
            <xs:enumeration value="complementary"/>
            <xs:enumeration value="contradicts"/>
            <xs:enumeration value="updates"/>
            <xs:enumeration value="supersedes"/>
            <xs:enumeration value="references"/>
            <xs:enumeration value="derived-from"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TagSourceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="manual"/>
            <xs:enumeration value="auto"/>
            <xs:enumeration value="suggested"/>
            <xs:enumeration value="imported"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UsageTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="blend"/>
            <xs:enumeration value="reference"/>
            <xs:enumeration value="copy"/>
            <xs:enumeration value="export"/>
            <xs:enumeration value="view"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VersionStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="current"/>
            <xs:enumeration value="archived"/>
            <xs:enumeration value="draft"/>
            <xs:enumeration value="deprecated"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PermissionLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="read"/>
            <xs:enumeration value="write"/>
            <xs:enumeration value="admin"/>
            <xs:enumeration value="owner"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VisibilityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="private"/>
            <xs:enumeration value="internal"/>
            <xs:enumeration value="public"/>
            <xs:enumeration value="shared"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
