cblend_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://contentrepurpose.com/cblend"
           xmlns:cbl="http://contentrepurpose.com/cblend"
           elementFormDefault="qualified">

    <!-- Root Element for CBlend -->
    <xs:element name="CBlend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Metadata" type="cbl:BlendMetadataType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="SourceBlocks" type="cbl:SourceBlocksType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Modifications" type="cbl:ModificationsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Transformations" type="cbl:TransformationsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Output" type="cbl:OutputType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Workflow" type="cbl:WorkflowType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Validation" type="cbl:ValidationType" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="status" type="cbl:BlendStatusType" default="draft"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="createdDate" type="xs:dateTime" use="required"/>
            <xs:attribute name="lastModified" type="xs:dateTime" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Blend Metadata Type -->
    <xs:complexType name="BlendMetadataType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="Purpose" type="xs:string" minOccurs="0"/>
            <xs:element name="CreatedBy" type="xs:string" minOccurs="1"/>
            <xs:element name="Team" type="xs:string" minOccurs="0"/>
            <xs:element name="CreatedDate" type="xs:dateTime" minOccurs="1"/>
            <xs:element name="LastModified" type="xs:dateTime" minOccurs="1"/>
            <xs:element name="LastModifiedBy" type="xs:string" minOccurs="0"/>
            <xs:element name="DueDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="CompletedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="TargetAudience" type="cbl:AudienceType" minOccurs="0"/>
            <xs:element name="TargetPlatforms" type="cbl:PlatformsType" minOccurs="0"/>
            <xs:element name="Goals" type="cbl:GoalsType" minOccurs="0"/>
            <xs:element name="Tags" type="cbl:TagsType" minOccurs="0"/>
            <xs:element name="Priority" type="xs:int" minOccurs="0"/>
            <xs:element name="Campaign" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Audience Type -->
    <xs:complexType name="AudienceType">
        <xs:sequence>
            <xs:element name="Segment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Demographics" type="xs:string" minOccurs="0"/>
                        <xs:element name="Interests" type="xs:string" minOccurs="0"/>
                        <xs:element name="PainPoints" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="percentage" type="xs:decimal"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="primary" type="xs:string"/>
    </xs:complexType>

    <!-- Platforms Type -->
    <xs:complexType name="PlatformsType">
        <xs:sequence>
            <xs:element name="Platform" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Requirements" type="xs:string" minOccurs="0"/>
                        <xs:element name="Constraints" type="cbl:ConstraintsType" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="priority" type="xs:int" default="1"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Constraints Type -->
    <xs:complexType name="ConstraintsType">
        <xs:sequence>
            <xs:element name="Constraint" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" type="cbl:ConstraintTypeEnum" use="required"/>
                            <xs:attribute name="value" type="xs:string"/>
                            <xs:attribute name="unit" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Goals Type -->
    <xs:complexType name="GoalsType">
        <xs:sequence>
            <xs:element name="Goal" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string"/>
                        <xs:element name="Metric" type="xs:string" minOccurs="0"/>
                        <xs:element name="Target" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="cbl:GoalTypeEnum" use="required"/>
                    <xs:attribute name="priority" type="xs:int" default="1"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tags Type -->
    <xs:complexType name="TagsType">
        <xs:sequence>
            <xs:element name="Tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Source Blocks Type -->
    <xs:complexType name="SourceBlocksType">
        <xs:sequence>
            <xs:element name="BlockReference" type="cbl:BlockReferenceType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="cbankId" type="xs:string"/>
        <xs:attribute name="totalBlocks" type="xs:int"/>
    </xs:complexType>

    <!-- Block Reference Type -->
    <xs:complexType name="BlockReferenceType">
        <xs:sequence>
            <xs:element name="BlockMetadata" type="cbl:ReferencedBlockMetadataType" minOccurs="0"/>
            <xs:element name="Selection" type="cbl:SelectionType" minOccurs="0"/>
            <xs:element name="Position" type="xs:int" minOccurs="0"/>
            <xs:element name="Notes" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="blockId" type="xs:string" use="required"/>
        <xs:attribute name="include" type="xs:boolean" default="true"/>
        <xs:attribute name="weight" type="xs:decimal" default="1.0"/>
        <xs:attribute name="locked" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Referenced Block Metadata Type -->
    <xs:complexType name="ReferencedBlockMetadataType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="ContentType" type="xs:string" minOccurs="0"/>
            <xs:element name="OriginalAuthor" type="xs:string" minOccurs="0"/>
            <xs:element name="LastModified" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Selection Type -->
    <xs:complexType name="SelectionType">
        <xs:sequence>
            <xs:element name="Range" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="start" type="xs:int"/>
                    <xs:attribute name="end" type="xs:int"/>
                    <xs:attribute name="unit" type="cbl:RangeUnitType"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Excerpt" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="type" type="cbl:SelectionTypeEnum" default="full"/>
    </xs:complexType>

    <!-- Modifications Type -->
    <xs:complexType name="ModificationsType">
        <xs:sequence>
            <xs:element name="Modification" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TargetBlock" type="xs:string" minOccurs="1"/>
                        <xs:element name="OriginalContent" type="xs:string" minOccurs="0"/>
                        <xs:element name="ModifiedContent" type="xs:string" minOccurs="0"/>
                        <xs:element name="Reason" type="xs:string" minOccurs="0"/>
                        <xs:element name="Parameters" type="cbl:ParametersType" minOccurs="0"/>
                        <xs:element name="Review" type="cbl:ReviewType" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute name="type" type="cbl:ModificationTypeEnum" use="required"/>
                    <xs:attribute name="appliedDate" type="xs:dateTime" use="required"/>
                    <xs:attribute name="appliedBy" type="xs:string" use="required"/>
                    <xs:attribute name="status" type="cbl:ModificationStatusType" default="applied"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="totalModifications" type="xs:int"/>
    </xs:complexType>

    <!-- Parameters Type -->
    <xs:complexType name="ParametersType">
        <xs:sequence>
            <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" use="required"/>
                            <xs:attribute name="value" type="xs:string" use="required"/>
                            <xs:attribute name="type" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Review Type -->
    <xs:complexType name="ReviewType">
        <xs:sequence>
            <xs:element name="Reviewer" type="xs:string"/>
            <xs:element name="ReviewDate" type="xs:dateTime"/>
            <xs:element name="Status" type="cbl:ReviewStatusType"/>
            <xs:element name="Comments" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Transformations Type -->
    <xs:complexType name="TransformationsType">
        <xs:sequence>
            <xs:element name="Transformation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string" minOccurs="0"/>
                        <xs:element name="InputBlocks" type="cbl:InputBlocksType" minOccurs="0"/>
                        <xs:element name="Parameters" type="cbl:ParametersType" minOccurs="0"/>
                        <xs:element name="Output" type="xs:string" minOccurs="0"/>
                        <xs:element name="Validation" type="cbl:TransformationValidationType" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute name="type" type="cbl:TransformationTypeEnum" use="required"/>
                    <xs:attribute name="order" type="xs:int" use="required"/>
                    <xs:attribute name="status" type="cbl:TransformationStatusType" default="pending"/>
                    <xs:attribute name="automated" type="xs:boolean" default="false"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="totalTransformations" type="xs:int"/>
    </xs:complexType>

    <!-- Input Blocks Type -->
    <xs:complexType name="InputBlocksType">
        <xs:sequence>
            <xs:element name="BlockId" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Transformation Validation Type -->
    <xs:complexType name="TransformationValidationType">
        <xs:sequence>
            <xs:element name="ValidationRule" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Rule" type="xs:string"/>
                        <xs:element name="Result" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="Message" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="passed" type="xs:boolean"/>
    </xs:complexType>

    <!-- Output Type -->
    <xs:complexType name="OutputType">
        <xs:sequence>
            <xs:element name="Preview" type="cbl:PreviewType" minOccurs="0"/>
            <xs:element name="FinalContent" type="cbl:FinalContentType" minOccurs="0"/>
            <xs:element name="Metadata" type="cbl:OutputMetadataType" minOccurs="0"/>
            <xs:element name="Analytics" type="cbl:AnalyticsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="status" type="cbl:OutputStatusType"/>
    </xs:complexType>

    <!-- Preview Type -->
    <xs:complexType name="PreviewType">
        <xs:sequence>
            <xs:element name="Content" type="xs:string" minOccurs="0"/>
            <xs:element name="Format" type="xs:string" minOccurs="0"/>
            <xs:element name="GeneratedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="GeneratedBy" type="xs:string" minOccurs="0"/>
            <xs:element name="Version" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="type" type="cbl:PreviewTypeEnum"/>
    </xs:complexType>

    <!-- Final Content Type -->
    <xs:complexType name="FinalContentType" mixed="true">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="format" type="xs:string" use="required"/>
        <xs:attribute name="encoding" type="xs:string" default="UTF-8"/>
        <xs:attribute name="size" type="xs:long"/>
        <xs:attribute name="checksum" type="xs:string"/>
        <xs:attribute name="url" type="xs:anyURI"/>
    </xs:complexType>

    <!-- Output Metadata Type -->
    <xs:complexType name="OutputMetadataType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="WordCount" type="xs:int" minOccurs="0"/>
            <xs:element name="CharacterCount" type="xs:int" minOccurs="0"/>
            <xs:element name="ReadingTime" type="xs:int" minOccurs="0"/>
            <xs:element name="Language" type="xs:language" minOccurs="0"/>
            <xs:element name="Tone" type="xs:string" minOccurs="0"/>
            <xs:element name="ReadingLevel" type="xs:string" minOccurs="0"/>
            <xs:element name="Keywords" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Analytics Type -->
    <xs:complexType name="AnalyticsType">
        <xs:sequence>
            <xs:element name="Quality" type="cbl:QualityMetricsType" minOccurs="0"/>
            <xs:element name="Compliance" type="cbl:ComplianceType" minOccurs="0"/>
            <xs:element name="SEO" type="cbl:SEOMetricsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Quality Metrics Type -->
    <xs:complexType name="QualityMetricsType">
        <xs:sequence>
            <xs:element name="Metric" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Score" type="xs:decimal"/>
                        <xs:element name="MaxScore" type="xs:decimal"/>
                        <xs:element name="Details" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="category" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="overallScore" type="xs:decimal"/>
    </xs:complexType>

    <!-- Compliance Type -->
    <xs:complexType name="ComplianceType">
        <xs:sequence>
            <xs:element name="Check" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" type="xs:boolean"/>
                        <xs:element name="Message" type="xs:string" minOccurs="0"/>
                        <xs:element name="Details" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="severity" type="cbl:SeverityType"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="compliant" type="xs:boolean"/>
    </xs:complexType>

    <!-- SEO Metrics Type -->
    <xs:complexType name="SEOMetricsType">
        <xs:sequence>
            <xs:element name="Score" type="xs:decimal" minOccurs="0"/>
            <xs:element name="KeywordDensity" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Readability" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Suggestions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Suggestion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Workflow Type -->
    <xs:complexType name="WorkflowType">
        <xs:sequence>
            <xs:element name="Recipe" type="cbl:RecipeType" minOccurs="0"/>
            <xs:element name="History" type="cbl:HistoryType" minOccurs="0"/>
            <xs:element name="Approvals" type="cbl:ApprovalsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Recipe Type -->
    <xs:complexType name="RecipeType">
        <xs:sequence>
            <xs:element name="Step" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Title" type="xs:string"/>
                        <xs:element name="Instruction" type="xs:string"/>
                        <xs:element name="ExpectedOutput" type="xs:string" minOccurs="0"/>
                        <xs:element name="Dependencies" type="cbl:DependenciesType" minOccurs="0"/>
                        <xs:element name="CompletionCriteria" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="stepNumber" type="xs:int" use="required"/>
                    <xs:attribute name="automated" type="xs:boolean" default="false"/>
                    <xs:attribute name="optional" type="xs:boolean" default="false"/>
                    <xs:attribute name="status" type="cbl:StepStatusType" default="pending"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="reusable" type="xs:boolean" default="true"/>
        <xs:attribute name="templateId" type="xs:string"/>
    </xs:complexType>

    <!-- Dependencies Type -->
    <xs:complexType name="DependenciesType">
        <xs:sequence>
            <xs:element name="StepId" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- History Type -->
    <xs:complexType name="HistoryType">
        <xs:sequence>
            <xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string"/>
                        <xs:element name="Details" type="xs:string" minOccurs="0"/>
                        <xs:element name="Changes" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
                    <xs:attribute name="user" type="xs:string" use="required"/>
                    <xs:attribute name="type" type="cbl:EventTypeEnum" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Approvals Type -->
    <xs:complexType name="ApprovalsType">
        <xs:sequence>
            <xs:element name="Approval" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Approver" type="xs:string"/>
                        <xs:element name="Role" type="xs:string" minOccurs="0"/>
                        <xs:element name="ApprovalDate" type="xs:dateTime" minOccurs="0"/>
                        <xs:element name="Status" type="cbl:ApprovalStatusType"/>
                        <xs:element name="Comments" type="xs:string" minOccurs="0"/>
                        <xs:element name="Conditions" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="required" type="xs:boolean" default="true"/>
                    <xs:attribute name="order" type="xs:int"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="allApproved" type="xs:boolean"/>
    </xs:complexType>

    <!-- Validation Type -->
    <xs:complexType name="ValidationType">
        <xs:sequence>
            <xs:element name="Rule" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Description" type="xs:string"/>
                        <xs:element name="Condition" type="xs:string"/>
                        <xs:element name="ValidationResult" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Passed" type="xs:boolean"/>
                                    <xs:element name="Message" type="xs:string" minOccurs="0"/>
                                    <xs:element name="ValidatedDate" type="xs:dateTime"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute name="type" type="cbl:ValidationTypeEnum" use="required"/>
                    <xs:attribute name="severity" type="cbl:SeverityType" default="error"/>
                    <xs:attribute name="enabled" type="xs:boolean" default="true"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="allPassed" type="xs:boolean"/>
    </xs:complexType>

    <!-- Enumerations -->
    <xs:simpleType name="BlendStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="draft"/>
            <xs:enumeration value="in-progress"/>
            <xs:enumeration value="review"/>
            <xs:enumeration value="revision"/>
            <xs:enumeration value="approved"/>
            <xs:enumeration value="completed"/>
            <xs:enumeration value="published"/>
            <xs:enumeration value="cancelled"/>
            <xs:enumeration value="archived"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConstraintTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="length"/>
            <xs:enumeration value="word-count"/>
            <xs:enumeration value="character-count"/>
            <xs:enumeration value="format"/>
            <xs:enumeration value="tone"/>
            <xs:enumeration value="style"/>
            <xs:enumeration value="language"/>
            <xs:enumeration value="reading-level"/>
            <xs:enumeration value="file-size"/>
            <xs:enumeration value="aspect-ratio"/>
            <xs:enumeration value="dimension"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GoalTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="engagement"/>
            <xs:enumeration value="conversion"/>
            <xs:enumeration value="awareness"/>
            <xs:enumeration value="education"/>
            <xs:enumeration value="entertainment"/>
            <xs:enumeration value="persuasion"/>
            <xs:enumeration value="information"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RangeUnitType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="character"/>
            <xs:enumeration value="word"/>
            <xs:enumeration value="line"/>
            <xs:enumeration value="paragraph"/>
            <xs:enumeration value="section"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SelectionTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="full"/>
            <xs:enumeration value="partial"/>
            <xs:enumeration value="excerpt"/>
            <xs:enumeration value="range"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ModificationTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="edit"/>
            <xs:enumeration value="truncate"/>
            <xs:enumeration value="expand"/>
            <xs:enumeration value="rewrite"/>
            <xs:enumeration value="translate"/>
            <xs:enumeration value="tone-change"/>
            <xs:enumeration value="style-change"/>
            <xs:enumeration value="format-change"/>
            <xs:enumeration value="simplify"/>
            <xs:enumeration value="enhance"/>
            <xs:enumeration value="correct"/>
            <xs:enumeration value="localize"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ModificationStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pending"/>
            <xs:enumeration value="applied"/>
            <xs:enumeration value="reverted"/>
            <xs:enumeration value="rejected"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ReviewStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="approved"/>
            <xs:enumeration value="rejected"/>
            <xs:enumeration value="needs-revision"/>
            <xs:enumeration value="pending"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransformationTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="merge"/>
            <xs:enumeration value="split"/>
            <xs:enumeration value="reorder"/>
            <xs:enumeration value="summarize"/>
            <xs:enumeration value="expand"/>
            <xs:enumeration value="translate"/>
            <xs:enumeration value="reformat"/>
            <xs:enumeration value="filter"/>
            <xs:enumeration value="aggregate"/>
            <xs:enumeration value="extract"/>
            <xs:enumeration value="inject"/>
            <xs:enumeration value="replace"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransformationStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pending"/>
            <xs:enumeration value="running"/>
            <xs:enumeration value="completed"/>
            <xs:enumeration value="failed"/>
            <xs:enumeration value="skipped"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PreviewTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="draft"/>
            <xs:enumeration value="final"/>
            <xs:enumeration value="snapshot"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OutputStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="generating"/>
            <xs:enumeration value="ready"/>
            <xs:enumeration value="error"/>
            <xs:enumeration value="incomplete"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SeverityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="info"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="error"/>
            <xs:enumeration value="critical"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StepStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pending"/>
            <xs:enumeration value="in-progress"/>
            <xs:enumeration value="completed"/>
            <xs:enumeration value="skipped"/>
            <xs:enumeration value="failed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EventTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="created"/>
            <xs:enumeration value="updated"/>
            <xs:enumeration value="modified"/>
            <xs:enumeration value="approved"/>
            <xs:enumeration value="rejected"/>
            <xs:enumeration value="published"/>
            <xs:enumeration value="archived"/>
            <xs:enumeration value="deleted"/>
            <xs:enumeration value="restored"/>
            <xs:enumeration value="comment"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ApprovalStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pending"/>
            <xs:enumeration value="approved"/>
            <xs:enumeration value="rejected"/>
            <xs:enumeration value="conditional"/>
            <xs:enumeration value="skipped"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ValidationTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="length"/>
            <xs:enumeration value="format"/>
            <xs:enumeration value="quality"/>
            <xs:enumeration value="compliance"/>
            <xs:enumeration value="seo"/>
            <xs:enumeration value="accessibility"/>
            <xs:enumeration value="brand"/>
            <xs:enumeration value="legal"/>
            <xs:enumeration value="technical"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
